.navbar-layout {
  width: 230px;
  /*width: 100vw;*/
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  position: relative;
  padding: 12px 0 30px 0;
  border-right: 1px solid rgba(204, 204, 204, 0.42);
}

.topbar-menu {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0 0 0 auto;
}

.menu-title {
  width: 100%;
  padding: 12px 20px;
  letter-spacing: .05em;
  /*pointer-events: none;*/
  font-size: 13px;
  /*text-transform: uppercase;*/
  font-weight: 600;
  /*display: flex;*/
}

.menu-sub-title {
  width: 100%;
  padding: 6px 0;
  letter-spacing: .05em;
  font-size: 13px;
  font-weight: 600;
}

.menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cp {
  cursor: pointer !important;
}

.center-y {
  display: flex;
  align-items: center;
}

a {
  color: #6c757d;
}

a:hover {
  color: #0d89ec;
}

.item-content {
  display: flex;
}

.item-content:hover {
  color: #0d89ec;
}

.item-content:hover a {
  color: #0d89ec;
}

.item-active {
  color: #0d89ec;
}

.item-active a {
  color: #0d89ec;
}
