<div class="navbar-layout">
  <div>
    <ul class="topbar-menu">
      <li class="menu-title">
        <div style="font-size: 14px; color: black; font-weight: 500">MENU ADMIN</div>
      </li>

      <li
        *ngFor="let menu of listMenu; index as i"
        [class]="menu.url ? 'menu-title cp' : 'menu-title'"
      >
        <div *ngIf="menu.url" [routerLink]="menu.url" class="item-content" (click)="setMenuActive(i)">
          <a [class]="PATH_NAME === menu.url ? 'item-active menu-link' : 'menu-link'">
            <i [class]="menu.icon + ' mr-2'" style="font-size: 1rem"></i>
            <span>{{ menu.label }}</span>
          </a>
        </div>

        <div *ngIf="!menu.url" class="item-content cp" (click)="menu.expanded = !menu.expanded">
          <a [class]="menu.expanded ? 'item-active menu-link' : 'menu-link'">
            <i [class]="menu.icon + ' mr-2'" style="font-size: 1rem"></i>
            <span>{{ menu.label }}</span>
          </a>
          <div class="flex-grow-1"></div>
          <i
            *ngIf="!menu.expanded"
            class="pi pi-angle-up center-y"
            style="font-size: 0.7rem; margin-top: 4px"
          >
          </i>
          <i
            *ngIf="menu.expanded"
            class="pi pi-angle-down item-active center-y"
            style="font-size: 0.7rem; margin-top: 4px"
            (click)="menu.expanded = false"
          >
          </i>
        </div>


        <ul *ngIf="menu.items && menu.expanded" style="list-style-type: none; padding: 10px 0 8px 28px">
          <li
            *ngFor="let item of menu.items"
            [routerLink]="item.url"
            class="cp"
            (click)="setCurrentPath()"
          >
            <a *ngIf="PATH_NAME === item.url" class="item-active menu-sub-title menu-link">
              <span>{{ item.label }}</span>
            </a>
            <a *ngIf="PATH_NAME !== item.url" class="menu-sub-title menu-link">
              <span>{{ item.label }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="topbar-menu">
    </ul>
  </div>
</div>
