<app-sidebar (showNavBar)="isHidden = !isHidden"></app-sidebar>

<div class="main-content">
  <app-navbar *ngIf="!isHidden"></app-navbar>

  <app-main-content class="w-100"></app-main-content>

  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
