<div>
  <div>
      <span class="p-float-label">
            <input type="text" id="input-text" pInputText>
            <label for="input-text">InputText</label>
        </span>
  </div>
  <div>
    render code html
  </div>
</div>
