<div class="sidebar-layout">
  <div class="sidebar-content">
    <i class="pi pi-align-justify cp ml-4" style="font-size: 1.1rem; color: #0d89ec" (click)="showNavBar.emit()"></i>
    <div class="flex-grow-1"></div>
    <div class="position-relative cp mr-2">
      <i class="pi pi-bell bell" style="font-size: 1.2rem"></i>
      <div
        class="bell-information"
      >
        {{ numberInfo }}
      </div>
    </div>
    <img [src]="avatar" height="32" width="32" class="border-r5 mx-3">
    <div class="account-name cp mr-6">
      {{ accountName }}
      <i class="pi pi-angle-down" style="font-size: 0.6rem"></i>
    </div>
  </div>
</div>
