/* You can add global styles to this file, and also import other style files */

body {
  font-family: system-ui;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.w-100 {
  width: 100%;
}

.cp {
  cursor: pointer !important;
}

.center-y {
  display: flex;
  align-items: center;
}

.position-relative {
  position: relative
}

.flex-grow-1 {
  flex-grow: 1;
}

.border-r5 {
  border-radius: 5px;
}
